<div class="text-center" style="margin-top: 120px;">
    <form [formGroup]="form" (submit)="onLogin()" class="form-signin">
        <img class="mb-4" src="assets/img/logo_l&w.png" alt="" width="82" height="82">
        <h3 class="h3 mb-3 font-weight-normal">Please sign in</h3>
        <input type="email" formControlName="email"id="inputEmail" class="form-control mb-3 mx-auto w-50" placeholder="Email address"[ngClass]="{'is-invalid': submit && f.email.errors }">
        <input type="password"formControlName="password" id="inputPassword" class="form-control mb-3 mx-auto w-50" placeholder="Password" [ngClass]="{'is-invalid': submit && f.password.errors}">
        <button class="btn btn-lg btn-primary btn-block mx-auto w-50" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
      </form>
</div>