<div class="table-responsive">
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let drug"> {{drug.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="provider">
        <mat-header-cell *matHeaderCellDef> Provider </mat-header-cell>
        <mat-cell *matCellDef="let pension"> {{pension.provider}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fund1">
        <mat-header-cell *matHeaderCellDef> Fund1 </mat-header-cell>
        <mat-cell *matCellDef="let pension"> {{pension.fund1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fund2">
        <mat-header-cell *matHeaderCellDef> Fund2 </mat-header-cell>
        <mat-cell *matCellDef="let pension"> {{pension.fund2}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fund3">
        <mat-header-cell *matHeaderCellDef> Fund3 </mat-header-cell>
        <mat-cell *matCellDef="let pension"> {{pension.fund3}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fund4">
        <mat-header-cell *matHeaderCellDef> Fund4 </mat-header-cell>
        <mat-cell *matCellDef="let pension"> {{pension.fund4}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fund_date">
        <mat-header-cell *matHeaderCellDef> fund_date </mat-header-cell>
        <mat-cell *matCellDef="let pension"> {{pension.fund_date}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row mat-row *matRowDef="let row; columns: displayedColumns" 
      (click)="rowClicked()"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
</div>
