<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <h1>
        <a class="navbar-item">
          <img src="./../../assets/img/logo_l&w.png">
        </a>
      </h1>
      
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button is-link" href="https://twitter.com/share?ref_src=twsrc%5Etfw" 
              data-text="Making life easy with python scrape" data-via="dtytomi" data-hashtags="#armpension #pension"
              data-show-count="false">Tweet</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="container cards-container" style="margin-top: 5%;">
  <div class="columns is-centered is-multiline" id="sectioncontainer">
    <div class="column is-narrow">
      <article class="message">
        <div class="message-header">
          <!-- Make a header using the `name` property from the current season in the loop -->
          <p>Ranking</p>
        </div>
        <div class="message-body">
          <div class="board-item">
            <table class="table is-bordered is-striped">
              <thead>
                <tr>
                  <th>Fund Name</th>
                  <th>Price</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pension of result | slice:0:10; index as i">
                  <td>{{pension.provider}}</td>
                  <td>{{pension.date}}</td>
                  <td>₦{{pension.unit_price}}</td>
              </tbody>
            </table>
          </div>
        </div>
      </article>
    </div>
    <div class="column is-narrow">
      <article class="message">
        <div class="message-header">
          <!-- Make a header using the `name` property from the current season in the loop -->
          <p>Premium pension</p>
        </div>
        <div class="message-body">
          <div class="board-item">
            <table class="table is-bordered is-striped">
              <thead>
                <tr>
                  <th>s/n</th>
                  <th>Price</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pension1 of premiumPensions | slice:0:10; index as i">
                  <td>{{i+1}}</td>
                  <td>{{pension1.date}}</td>
                  <td>₦{{pension1.unit_price}}</td>
              </tbody>
            </table>
          </div>
        </div>
      </article>
    </div>
    <div class="column is-narrow">
      <article class="message">
        <div class="message-header">
          <!-- Make a header using the `name` property from the current season in the loop -->
          <p>Arm pension</p>
        </div>
        <div class="message-body">
          <div class="board-item">
            <table class="table is-bordered is-striped">
              <thead>
                <tr>
                  <th>s/n</th>
                  <th>Price</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pension of armPensions | slice:0:10; index as i">
                  <td>{{i + 1}}</td>
                  <td>{{pension.date}}</td>
                  <td>₦{{pension.unit_price}}</td>
              </tbody>
            </table>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>