<section class="section">
  <div class="container">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Click the date icon</mat-label>
        <input matInput [matDatepicker]="dp3"  [ngModel]="date_value" (ngModelChange)="modelChangeFn($event)"
          disabled>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
      </p> 
    <br />
    <mat-tab-group dynamicHeight mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
      <mat-tab label="Fund I">
        <div class="example-large-box">
          <div class="columns is-centered is-multiline" id="sectioncontainer">
            <div class="column is-narrow">
              <article class="message">
                <div class="message-header">
                  <!-- Make a header using the `name` property from the current season in the loop -->
                  <p class="has-text-centered">Year To Date Return (%) {{ year }} </p>
                </div>
                <div class="message-body">
                  <div class="board-item scroll">
                    <app-table [dataSource]="fund1" [serial]="serialProvider" [provider]="incProvider" [price]="incPrice1" [display]="retDisplay1" [date]="incDate"></app-table>
                  </div>
                </div>
              </article>

              <article class="message">
                <div class="message-header">
                  <!-- Make a header using the `name` property from the current season in the loop -->
                  <p class="has-text-centered">Full Year Return (%) {{ lastyear }}</p>
                </div>
                <div class="message-body">
                  <div class="board-item scroll">
                    <app-table [dataSource]="ytd_2020_results" [serial]="serialProvider" [provider]="incProvider" [price]="fullYear" [display1]="fullDisplay"></app-table>
                  </div>
                </div>
              </article>

              <article class="message">
                <div class="message-header">
                  <!-- Make a header using the `name` property from the current season in the loop -->
                  <p class="has-text-centered">Full Year Return (%) {{ yearbefore }}</p>
                </div>
                <div class="message-body">
                  <div class="board-item scroll">
                    <app-table [dataSource]="ytd_2019_results" [serial]="serialProvider" [provider]="incProvider" [price]="fullYear" [display1]="fullDisplay"></app-table>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Fund II">
        <div class="example-large-box">
          <div class="columns is-centered is-multiline" id="sectioncontainer">
            <div class="column is-narrow">
              <article class="message">
                <div class="message-header">
                  <!-- Make a header using the `name` property from the current season in the loop -->
                  <p class="has-text-centered">Year To Date Return (%) {{ year }}</p>
                </div>
                <div class="message-body">   
                  <div class="board-item scroll">
                    <app-table [dataSource]="fund2" [serial]="serialProvider" [provider]="incProvider" [price]="incPrice2" [display]="retDisplay2" [date]="incDate"></app-table>
                  </div>                 
                </div>
              </article>

              <article class="message">
                <div class="message-header">
                  <!-- Make a header using the `name` property from the current season in the loop -->
                  <p class="has-text-centered">Full Year Return (%) {{ lastyear }}</p>
                </div>
                <div class="message-body">
                  <div class="board-item scroll">
                    <app-table [dataSource]="ytd_2020_resultsii" [serial]="serialProvider" [provider]="incProvider" [price]="fullYear" [display1]="fullDisplay"></app-table>
                  </div>
                </div>
              </article>

              <article class="message">
                <div class="message-header">
                  <!-- Make a header using the `name` property from the current season in the loop -->
                  <p class="has-text-centered">Full Year Return (%) {{ yearbefore }}</p>
                </div>
                <div class="message-body">
                  <div class="board-item">
                    <div class="board-item scroll">
                      <app-table [dataSource]="ytd_2019_resultsii" [serial]="serialProvider" [provider]="incProvider" [price]="fullYear" [display1]="fullDisplay"></app-table>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Fund III">
        <div class="example-large-box">
          <div class="columns is-centered is-multiline" id="sectioncontainer">
            <div class="column is-narrow">
              <article class="message">
                <div class="message-header">
                  <!-- Make a header using the `name` property from the current season in the loop -->
                  <p class="has-text-centered">Year To Date Return (%) {{ year }}</p>
                </div>
                <div class="message-body">  
                  <div class="board-item scroll">
                    <app-table [dataSource]="fund3" [serial]="serialProvider" [provider]="incProvider" [price]="incPrice3" [display]="retDisplay3" [date]="incDate"></app-table>
                  </div>                  
                </div>
              </article>

              <article class="message">
                <div class="message-header">
                  <!-- Make a header using the `name` property from the current season in the loop -->
                  <p class="has-text-centered">Full Year Return (%) {{ lastyear }}</p>
                </div>
                <div class="message-body">
                  <div class="board-item scroll">
                    <app-table [dataSource]="ytd_2020_resultsiii" [serial]="serialProvider" [provider]="incProvider" [price]="fullYear" [display1]="fullDisplay"></app-table>
                  </div>
                </div>
              </article>

              <article class="message">
                <div class="message-header">
                  <!-- Make a header using the `name` property from the current season in the loop -->
                  <p class="has-text-centered">Full Year Return (%) {{ yearbefore }}</p>
                </div>
                <div class="message-body">
                  <div class="board-item scroll">
                    <app-table [dataSource]="ytd_2019_resultsiii" [serial]="serialProvider" [provider]="incProvider" [price]="fullYear" [display1]="fullDisplay"></app-table>
                  </div> 
                </div>
              </article>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Fund IV">
        <div class="example-large-box">
          <div class="columns is-centered is-multiline" id="sectioncontainer">
            <div class="column is-narrow">
              <article class="message">
                <div class="message-header">
                  <!-- Make a header using the `name` property from the current season in the loop -->
                  <p class="has-text-centered">Year To Date Return (%) {{ year }}</p>
                </div>
                <div class="message-body">
                  <div class="board-item scroll">
                    <app-table [dataSource]="fund4" [serial]="serialProvider" [provider]="incProvider" [price]="incPrice4" [display]="retDisplay4" [date]="incDate"></app-table>
                  </div>
                </div>
              </article>

              <article class="message">
                <div class="message-header">
                  <!-- Make a header using the `name` property from the current season in the loop -->
                  <p class="has-text-centered">Full Year Return (%) {{ lastyear }}</p>
                </div>
                <div class="message-body">
                  <div class="board-item scroll">
                    <app-table [dataSource]="ytd_2020_resultsiv" [serial]="serialProvider" [provider]="incProvider" [price]="fullYear" [display1]="fullDisplay"></app-table>
                  </div>
                </div>
              </article>

              <article class="message">
                <div class="message-header">
                  <!-- Make a header using the `name` property from the current season in the loop -->
                  <p class="has-text-centered">Full Year Return (%) {{ yearbefore }}</p>
                </div>
                <div class="message-body">
                  <div class="board-item scroll">
                    <app-table [dataSource]="ytd_2019_resultsiv" [serial]="serialProvider" [provider]="incProvider" [price]="fullYear" [display1]="fullDisplay"></app-table>
                  </div> 
                </div>
              </article>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Fund Price List">
        <div class="example-large-box">
          <div class="columns is-centered is-multiline" id="sectioncontainer">
            <div class="column">
              <article class="message">
                <div class="message-header">
                  <!-- Make a header using the `name` property from the current season in the loop -->
                  <p>Prices</p>
                </div>
                <div class="message-body">
                  <div class="board-item scroll">
                    <app-table [dataSource]="pensions" [serial]="serialProvider" [provider]="provider" [price]="price" [date]="date"></app-table>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>