<div class="columns">
  <div class="column is-two-thirds">

    <h3 class="title">Add Pension Fund</h3>

    <form [formGroup]="form" (submit)="onCreate()" class="form-inline mb-4">

      <div class="field">
        <div class="control">
          <div class="select is-primary">
            <select formControlName="provider" [ngClass]="{ 'is-invalid': submit && f.provider.errors }">
              <option *ngFor="let provider of providers" [ngValue]="provider.name">{{provider.name}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input type="text" class="input is-primary" formControlName="fund1" placeholder="Fund 1 price"[ngClass]="{ 'is-invalid': submit && f.fund1.errors }">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input type="text" class="input is-primary" formControlName="fund2" placeholder="Fund 2 price"[ngClass]="{ 'is-invalid': submit && f.fund2.errors }">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input type="text" class="input is-primary" formControlName="fund3" placeholder="Fund 3 price"[ngClass]="{ 'is-invalid': submit && f.fund3.errors }">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input type="text" class="input is-primary" formControlName="fund4" placeholder="Fund 4 price"[ngClass]="{ 'is-invalid': submit && f.fund4.errors }">
        </div>
      </div>
      
      <mat-form-field appearance="fill">
        <mat-label>Choose Date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="dp3">
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>


      <button class="button is-success is-normal is-pulled-right" type="submit">Add Fund</button>
    </form>
  </div>
</div>
  